# GH → User PAT

# |-------------|----------------|
# | Permissions | Niveau requis  |
# |-------------|----------------|
# | Contents    |	Read and write |
# | Metadata    |	Read-only      |
# | Actions     |	Read and write |
# |-------------|----------------|

# À poser aussi dans dép. actions secrets keys

GH_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
PYPI_TOKEN=pypi-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
